/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* STYLES
/*******************************************/

body {
     font-family: 'Montserrat', sans-serif;
     background-color: rgba(255, 255, 255, 1);
     display: flex;
     flex-direction: row;
     max-width: 1200px;
     margin: 0;
}

p {
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 24px;
     color: rgba(89, 89, 89, 1);
     text-align: justify;
}

h4 {
     font-style: bold;
     font-weight: 400;
     font-size: 22px;
     line-height: 24px;
     color: rgba(89, 89, 89, 1);
}

li {
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 24px;
     color: rgba(89, 89, 89, 1);
}

.workExperience .subtitle {
     color: rgba(251, 109, 58, 1);
}
